node_modules
.next
.cache
dist
build
build-deb
build-rpm
apt-repo
dists
pool
*.log
*.deb
*.rpm
*.tar.gz
*.zip
.env*
!.env.example
.git
.github
*.md
!README.md
orbit
orbit-setup
orbit-linux-*
orbit-setup-linux-*

