Package: orbitmgr
Version: 1.0.0
Section: base
Priority: optional
Architecture: amd64
Depends: nodejs, npm, avahi-daemon
Maintainer: Stanislav Grosman <stanislav.grosman@example.com>
Description: Orbit Manager
 A simple server management panel.
